* {
            font-family: 'Dongle', sans-serif;
        }
        .header {
            top: 0;
            left: 0;
            width: 100%;
            border-bottom-width: 0.1vh;
            border-bottom-style: solid;
            border-bottom-color: lightgrey;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 15vw;
            padding-left: 5vw;
            position: fixed;
            background-color: white;
        }

        .mobile-footer {
            border-top-width: 0.1vh;
            border-top-style: solid;
            border-top-color: lightgrey;
            position: fixed;
            bottom : 0;
            right: 0;
            width: 100%;
            height: 15vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            background-color: white;
        }

        .my-page-img {
            border-radius: 50%;
            height: 10vw;
            width: 10vw;

        }

        .icon2 {
            height: 6vw;
            object-fit: cover;
        }
        .icon3 {
            height: 10vw;
            object-fit: cover;
        }

        .back-img {
            height: 6vw;
        }
        .profile {
            width: 100%;
            height: 25vw;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .my-page-img1 {
            border-radius: 50%;
            height: 20vw;
            width: 20vw;
        }

        #nickname {
            margin : auto auto auto 3vw;
            font-size: xxx-large;
        }

        .countmargin {
            margin: 0 auto;
        }

        .wrapper {
            font-size: xxx-large;
            display: flex;
            flex-direction: column;
        }
        #introduce {
            margin-left: 2vw;
            width: 30vw;
            font-size: xx-large;
        }

        .feed {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .feed_image {
            height: 33.3vw;
            width: 33.3vw;
        }

        .all {
            width : 100%;
            padding-top: 15vw;
            padding-bottom: 20vw;
        }
        #column{
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        #row{
            display: flex;
            justify-content: space-around;
        }