<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>moominstagram</title>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link href="../static/main_page_style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="../static/main_page_function.js"></script>
</head>
<body class="whole-screen">
    <div class="header">
        <div class="empty-box-for-adjust-distance"></div>
        <img class="logo-img" src="../../src/static/images/moomingram.png" alt="무민그램 로고">
        <img class="camera-btn-box" src="../../src/static/images/camera@3x.png">
    </div>
    <div class="story">
        <div class="users-stories">
            <div class="each-user-story">
                <img class="user-story-img-btn" src="../../src/static/images/무민.jfif"/>
                <p class="user-name">nickname</p>
            </div>
            <div class="each-user-story">
                <img class="user-story-img-btn" src="../../src/static/images/무민.jfif"/>
                <p class="user-name">nickname</p>
            </div>
            <div class="each-user-story">
                <img class="user-story-img-btn" src="../../src/static/images/무민.jfif"/>
                <p class="user-name">nickname</p>
            </div>
            <div class="each-user-story">
                <img class="user-story-img-btn" src="../../src/static/images/무민.jfif"/>
                <p class="user-name">nickname</p>
            </div>
            <div class="each-user-story">
                <img class="user-story-img-btn" src="../../src/static/images/무민.jfif"/>
                <p class="user-name">nickname</p>
            </div>
        </div>
    </div>
    <div class="feed">
        <div class="user-name-and-img">
            <div class="feed-user-img">
                <img onclick="to_user_pg()" class="user-page-img-btn" src="../../src/static/images/무민.jfif"/>
            </div>
            <p class="feed-user-name">nickname</p>
        </div>
        <img src="https://t1.daumcdn.net/cfile/tistory/9919334E5B28A1E331">
        <div class="active-btns-wrapper">
            <img class="comment-btn" src="../../src/static/images/comment@3x.png"/>
            <img class="like-btn" src="../../src/static/images/like@3x.png"/>
        </div>
        <div class="feed-content-box">
            <p class="feed-user-name-of-content">nickname</p>
            <p class="feed-content">content</p>
        </div>
        <div class="user-comment-box">
            <div class="user-comment-wrapper">
                <p class="comment-user-name">nickname</p>
                <p class="comment">This is comment for your feed</p>
            </div>
        </div>
        <div class="feed-time-wrapper">
            <time datetime="2021-12-30T01:26:43.000Z" class="feed-time">6 hours ago</time>
        </div>
        <div class="comment-container">
            <input class="comment-content" placeholder="댓글 입력"/>
            <button class="comment-register">게시</button>
        </div>
    </div>
    <div class="mobile-footer">
        <img class="home-btn" src="../../src/static/images/home@3x.png" onclick="to_main()">
        <img class="search-btn" src="../../src/static/images/search@3x.png" onclick="to_search()">
        <img class="plus-btn" src="../../src/static/images/plus.png" onclick="to_upload()">
        <img class="favorite-btn" src="../../src/static/images/like@3x.png" onclick="to_favorite()">
        <img class="my-page-img-btn" src="../../src/static/images/무민.jfif" onclick="to_my_pg()">
    </div>
</body>
</html>