<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/favorite_page_style.css">
    <title>moomingram</title>
    <script type="text/javascript" src="../static/favorite_page_function.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class='header'>
        <img class="back-img" onclick="history.back()" src="../../src/images/back@3x.png">
        <p id=nickname><b>저장한 페이지</b></p>
    </div>
    <div class='screen'>
        <div class="favorite-feed">
            <div class="user-name-and-img">
                <div class="feed-user-img">
                    <img onclick="to_user_pg()" class="user-page-img-btn" src="../../src/images/무민.jfif"/>
                </div>
                <p class="feed-user-name">nickname</p>
            </div>
            <img src="https://t1.daumcdn.net/cfile/tistory/9919334E5B28A1E331">
        </div>
    </div>
    <div class="mobile-footer">
        <img class="home-btn" src="../../src/images/home@3x.png" onclick="to_main()">
        <img class="search-btn" src="../../src/images/search@3x.png" onclick="to_search()">
        <img class="plus-btn" src="../../src/images/plus.png" onclick="to_upload()">
        <img class="favorite-btn" src="../../src/images/like@3x.png" onclick="to_favorite()">
        <img class="my-page-img-btn" src="../../src/images/무민.jfif" onclick="to_my_pg()">
    </div>
</body>
</html>