* {
    font-family: 'Dongle', sans-serif;
}

.whole-screen {
    margin: 0;
}

.header {
    border-bottom: 0.1vh solid lightgrey;

    display: flex;
    align-items: center;

    height: 15vw;

    width: 100%;

    padding-left: 5%;
}

.header-items-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
}

.back-btn {
    background-color: transparent;
    border: none;
    background-image: url("../images/back@3x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 6vw;
    width: 6vw;

    margin-right: 5%;
}

.header-items-wrapper > p {
    font-size: 7vw;

    margin: 0;
}

.favorite-feed {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.user-name-and-img {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 2% 4% 0 4%;
}

.feed-user-img {
    margin-right: 2%;
}

.feed-user-name {
    font-size: 4vw;
    font-weight: bold;
}

.user-page-img-btn {
    border-radius: 50%;
    height: 7vw;
    width: 7vw;

    background-image: url("../images/무민.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.favorite-feed > img {
    width: 100%;
}

.mobile-footer {
    border-top: 0.1vh solid lightgrey;

    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    height: 20vw;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: white;
}

.home-btn {
    height: 6vw;
    width: 6vw;

    background-image: url("../images/home@3x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.search-btn {
    height: 6vw;
    width: 6vw;

    background-image: url("../images/search@3x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.plus-btn {
    height: 7vw;
    width: 7vw;

    background-image: url("../images/plus.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.favorite-btn {
    height: 5.4vw;
    width: 6vw;

    background-image: url("../images/like@3x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.my-page-img-btn {
    border-radius: 50%;
    height: 6vw;
    width: 6vw;

    background-image: url("../images/무민.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

