* {
    font-family: 'Dongle', sans-serif;
}

.whole-screen {
    margin: 0;

    width: 100%;
}

.header {
    border-bottom: 0.1vh solid lightgrey;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 15vw;
    width: 100%;

    top: 0;
    left: 0;
}

.empty-box-for-adjust-distance {
    height: 6vw;
    width: 7vw;
}

.camera-btn-box {
    height: 7vw;
    width: 7vw;
}

.logo-img {
    width: 40vw;
    height: 15vw;
}

.story {
    height: 16vw;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.users-stories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}

.each-user-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 2%;
}

.each-user-story > p {
    margin: 0;

    font-weight: bold;
    font-size: 3vw;
}

.user1-story-img-btn {
    border-radius: 50%;
    height: 9vw;
    width: 9vw;

    background-image: url("../images/무민.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.user2-story-img-btn {
    border-radius: 50%;
    height: 9vw;
    width: 9vw;

    background-image: url("../images/무민.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.user3-story-img-btn {
    border-radius: 50%;
    height: 9vw;
    width: 9vw;

    background-image: url("../images/무민.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.user4-story-img-btn {
    border-radius: 50%;
    height: 9vw;
    width: 9vw;

    background-image: url("../images/무민.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.user5-story-img-btn {
    border-radius: 50%;
    height: 9vw;
    width: 9vw;

    background-image: url("../images/무민.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.feed {
    display: flex;
    flex-direction: column;

    border-top: solid rgba(211, 211, 211, 0.3);

    width: 100%;
}

.user-name-and-img {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
}

.feed-user-img {
    margin: 1% 2%;

}

.feed-user-name {
    font-weight: bold;
    font-size: 4vw;
}

.user-page-img-btn {
    border-radius: 50%;
    height: 7vw;
    width: 7vw;

    background-image: url("../images/무민.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.feed > img {
    width: 100%;
}

.active-btns-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 3% 5% 0 5%;
}

.comment-btn {
    height: 6vw;
    width: 6vw;

    background-image: url("../images/comment@3x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.user-comment-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 5%;
}

.comment-user-name {
    margin-top: 0;
    margin-right: 2%;

    font-weight: bold;
    font-size: 3vw;
}

.comment {
    margin-top: 0;
    font-size: 3vw;
}

.feed-time-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-left: 5%;
}

.feed-time {
    margin-bottom: 0;

    color: lightgrey;

    font-size: 2vw;
}

.mobile-footer {
    border-top: 0.1vh solid lightgrey;

    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    height: 20vw;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: white;
}

.home-btn {
    height: 6vw;
    width: 6vw;

    background-image: url("../images/home@3x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.search-btn {
    height: 6vw;
    width: 6vw;

    background-image: url("../images/search@3x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.plus-btn {
    height: 7vw;
    width: 7vw;

    background-image: url("../images/plus.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.favorite-btn {
    height: 5.4vw;
    width: 6vw;

    background-image: url("../images/like@3x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}

.my-page-img-btn {
    border-radius: 50%;
    height: 6vw;
    width: 6vw;

    background-image: url("../images/무민.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;
}