<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>moominstagram</title>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link href="../static/favorite_page_style.css" rel="stylesheet">
</head>
<body class="whole-screen">
    <div class="screen">
        <div class="header">
            <div class="header-items-wrapper">
                <button class="back-btn"></button>
                <p>저장한 페이지</p>
            </div>
        </div>
        <div class="favorite-feed">
            <div class="user-name-and-img">
                <div class="feed-user-img">
                    <button class="user-page-img-btn"></button>
                </div>
                <p class="feed-user-name">nickname</p>
            </div>
            <img src="https://t1.daumcdn.net/cfile/tistory/9919334E5B28A1E331">
        </div>
        <div class="mobile-footer">
            <button id="home-btn"></button>
            <button id="search-btn"></button>
            <button id="plus-btn"></button>
            <button class="favorite-btn"></button>
            <button id="my-page-img-btn"></button>
        </div>
    </div>
</body>
</html>