<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>Moominstagram MainPage</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bulma CSS 링크 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <script>
            function logout() {
                if($.removeCookie('mytoken')) {
                    alert('로그아웃 완료')
                    window.location.href = '/'
                } else {
                    alert('로그아웃 실패')
                }
            }
            let auth = '{{auth}}'
            function authCheck() {
                if(auth != 'True') {
                    alert('이메일 인증을 완료해주세요.')
                    window.location.href = '/register2'
                }

            }
        </script>


    </head>
    <body>
        <div class="section has-text-centered">
            <h1 class="title">메인 페이지</h1>
            <div class="container" style="width:60%">
                <h2>Hello {{nickname}}</h2>
                {% if auth==False %}
                    <p>이메일 인증이 완료되지 않았습니다.</p>
                {% endif %}
                <br>
                <br>
                <button class="button is-primary" onclick="logout()">로그아웃</button>

                <button class="button is-primary" onclick="authCheck()">마이페이지</button>
            </div>
        </div>
    </body>
</html>