<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>moominstagram</title>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link href="../static/main_page_style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/main_page_function.js"></script>
</head>
<body class="whole-screen">
    <div class="header">
        <div class="empty-box"></div>
        <img class="logo-img" src="../images/moomingram.png" alt="무민그램 로고">
        <div class="camera-btn-box">
            <img id="camara_btn" class="camera-btn" src="../images/camera@3x.png">
        </div>
    </div>
    <div class="story">
        <div class="users-stories">
            <div class="each-user-story">
                <button class="user1-story-img-btn" onclick="to_user_pg()"></button>
                <p class="user1-name">nickname</p>
            </div>
            <div class="each-user-story">
                <img class="user2-story-img-btn" src="../images/무민.jfif"/>
                <p class="user2-name">nickname</p>
            </div>
            <div class="each-user-story">
                <img class="user3-story-img-btn" src="../images/무민.jfif"/>
                <p class="user3-name">nickname</p>
            </div>
            <div class="each-user-story">
                <img class="user4-story-img-btn" src="../images/무민.jfif"/>
                <p class="user4-name">nickname</p>
            </div>
            <div class="each-user-story">
                <img class="user5-story-img-btn" src="../images/무민.jfif"/>
                <p class="user5-name">nickname</p>
            </div>
        </div>
    </div>
    <div class="feed">
        <div class="user-name-and-img">
            <div class="feed-user-img">
                <button class="user-page-img-btn"></button>
            </div>
            <p class="feed-user-name">nickname</p>
        </div>
        <img src="https://t1.daumcdn.net/cfile/tistory/9919334E5B28A1E331">
        <div class="active-btns-wrapper">
            <button class="comment-btn"></button>
            <button class="favorite-btn"></button>
        </div>
        <div class="user-comment-wrapper">
            <p class="comment-user-name">nickname</p>
            <p class="comment">This is comment for your feed</p>
        </div>
        <div class="feed-time-wrapper">
            <p class="feed-time">6 hours age</p>
        </div>
    </div>
    <div class="mobile-footer">
        <button id="home_btn" class="home-btn" onclick="to_main()"></button>
        <button class="search-btn" onclick="to_search()"></button>
        <button class="plus-btn" onclick="to_upload()"></button>
        <button class="favorite-btn" onclick="to_favorite()"></button>
        <button class="my-page-img-btn" onclick="to_my_pg()"></button>
    </div>
</body>
</html>