<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>moominstagram</title>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link href="../static/main_page_style.css" rel="stylesheet">
</head>
<body class="whole-screen">
    <div class="header">
        <div class="header-items-wrapper">
            <img class="logo-img" src="../images/moomingram.png">
            <button class="camera-btn"></button>
        </div>
    </div>
    <div class="story">
        <div class="users-stories">
            <div class="each-user-story">
                <button class="user1-story-img-btn"></button>
                <p class="user1-name">nickname</p>
            </div>
            <div class="each-user-story">
                <img class="user2-story-img-btn" src="../images/무민.jfif"/>
                <p class="user2-name">nickname</p>
            </div>
            <div class="each-user-story">
                <img class="user3-story-img-btn" src="../images/무민.jfif"/>
                <p class="user3-name">nickname</p>
            </div>
            <div class="each-user-story">
                <img class="user4-story-img-btn" src="../images/무민.jfif"/>
                <p class="user4-name">nickname</p>
            </div>
            <div class="each-user-story">
                <img class="user5-story-img-btn" src="../images/무민.jfif"/>
                <p class="user5-name">nickname</p>
            </div>
        </div>
    </div>
    <div class="feed">
        <div class="user-name-and-img">
            <div class="feed-user-img">
                <button class="user-page-img-btn"></button>
            </div>
            <p class="feed-user-name">nickname</p>
        </div>
        <img src="https://t1.daumcdn.net/cfile/tistory/9919334E5B28A1E331">
        <div class="active-btns-wrapper">
            <button class="comment-btn"></button>
            <button class="favorite-btn"></button>
        </div>
        <div class="user-comment-wrapper">
            <p class="comment-user-name">nickname</p>
            <p class="comment">This is comment for your feed</p>
        </div>
        <div class="feed-time-wrapper">
            <p class="feed-time">6 hours age</p>
        </div>
    </div>
    <div class="mobile-footer">
        <button class="home-btn"></button>
        <button class="search-btn"></button>
        <button class="plus-btn"></button>
        <button class="favorite-btn"></button>
        <button class="my-page-img-btn"></button>
    </div>
</body>
</html>