<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/my_page_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>moomingram</title>
    <script defer src="../static/my_page.js"></script>
</head>
<body>
        <div class='header'>
            <img class="back-img" onclick="returnpage() "src="../static/images/back@3x.png"></button>
            <p id=nickname>
<!--                ajax 삭제-->
                <b>nickname 여기에 넣으면 됩니다</b>
<!--                ajax 삭제-->
            </p>
            <img class='setting' src="../static/images/setting.png">
        </div>
    <div class='all'>
        <div class="profile" id = 'profile'>
            <div id = 'profile-image'>
                <img class="my-page-img1" onclick="reload()" src="../static/images/무민.jfif"/>
            </div>
            <div class=wrapper>
                <p><b>게시물</b></p>
                <p class=countmargin id = feed><b>300</b></p>
            </div>
            <div class=wrapper>
                <p><b>팔로워</b></p>
                <p class=countmargin id = follower_count><b>10,182</b></p>
            </div>
            <div class=wrapper>
                <p><b>팔로잉</b></p>
                <p class=countmargin id = following_count><b>3</b></p>
            </div>
        </div>
        <div style="width : 100%;">
            <div id=introduce>
                <p style="margin-top: 0">무민은 스웨덴계 핀란드인 작가 토베 얀손(Tove Jansson, 1914 ~ 2001)이 만든 주인공 캐릭터와 그 캐릭터가 등장하는 소설,
                    만화 등의 시리즈를 말한다. </p>
            </div>
            <div id = content>
                <div class=feed>
                    <img id = feed1 class='feed_image' onclick="movepage()" src="../static/images/무민.jfif"/>
                    <img id = feed2 class='feed_image' onclick="movepage()" src="../static/images/무민.jfif"/>
                    <img id = feed3 class='feed_image' onclick="movepage()" src="../static/images/무민.jfif"/>
                </div>
                <div class=feed>
                    <img class='feed_image' onclick="movepage()" src="../static/images/무민.jfif"/>
                    <img class='feed_image' onclick="movepage()" src="../static/images/무민.jfif"/>
                    <img class='feed_image' onclick="movepage()" src="../static/images/무민.jfif"/>
                </div>
                <div class=feed>
                    <img class='feed_image' onclick="movepage()" src="../static/images/무민.jfif"/>
                    <img class='feed_image' onclick="movepage()" src="../static/images/무민.jfif"/>
                    <img class='feed_image' onclick="movepage()" src="../static/images/무민.jfif"/>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-footer">
        <div>
        <img class="icon2" onclick="movepage()" src="../static/images/home@3x.png">
            </div>
        <div>
        <img class="icon2" src="../static/images/search@3x.png">
            </div>
        <div>
        <img class="icon3" onclick="movepage()" src="../static/images/plus.png">
            </div>
        <div>
        <img class="icon2" onclick="movepage()" src="../static/images/like@3x.png">
            </div>
        <div id = my_footer_img>
        <img class="my-page-img" onclick="movepage()" src="../static/images/무민.jfif">
            </div>
    </div>
</body>
</html>