<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/mypage_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>moomingram</title>
    <script>
            function returnpage(){
                window.history.go(-1);
            }
            function  reload(){
                location.reload()
            }
            function movepage(){
                location.href='https://www.naver.com'
            }
    </script>
</head>
<body>
        <div class='header'>
            <img class="back-img" onclick="returnpage() "src="../images/back@3x.png"></button>
            <p id=nickname><b>nickname 여기에 넣으면 됩니다</b></p>
            <img class='setting' src="../images/setting.png">
        </div>
    <div class='all'>
        <div class="profile">
            <div>
                <img class="my-page-img1" onclick="reload()" src="../images/무민.jfif"/>
            </div>
            <div class=wrapper>
                <h><b>게시물</b></h>
                <h class=countmargin><b>300</b></h>
            </div>
            <div class=wrapper>
                <h><b>팔로워</b></h>
                <h class=countmargin><b>10,182</b></h>
            </div>
            <div class=wrapper>
                <h><b>팔로잉</b></h>
                <h class=countmargin><b>3</b></h>
            </div>
        </div>
        <div style="width : 100%;">
            <div id=introduce>
                <p style="margin-top: 0">무민은 스웨덴계 핀란드인 작가 토베 얀손(Tove Jansson, 1914 ~ 2001)이 만든 주인공 캐릭터와 그 캐릭터가 등장하는 소설,
                    만화 등의 시리즈를 말한다. </p>
            </div>
            <div class=feed>
                <img class='feed_image' onclick="movepage()" src="../images/무민.jfif"/>
                <img class='feed_image' onclick="movepage()" src="../images/무민.jfif"/>
                <img class='feed_image' onclick="movepage()" src="../images/무민.jfif"/>
            </div>
            <div class=feed>
                <img class='feed_image' onclick="movepage()" src="../images/무민.jfif"/>
                <img class='feed_image' onclick="movepage()" src="../images/무민.jfif"/>
                <img class='feed_image' onclick="movepage()" src="../images/무민.jfif"/>
            </div>
            <div class=feed>
                <img class='feed_image' onclick="movepage()" src="../images/무민.jfif"/>
                <img class='feed_image' onclick="movepage()" src="../images/무민.jfif"/>
                <img class='feed_image' onclick="movepage()" src="../images/무민.jfif"/>
            </div>
        </div>
    </div>
    <div class="mobile-footer">
        <img class="icon2" onclick="movepage()" src="../images/home@3x.png">
        <img class="icon2" src="../images/search@3x.png">
        <img class="icon2" onclick="movepage()" src="../images/trending@3x.png">
        <img class="icon2" onclick="movepage()" src="../images/like@3x.png">
        <img class="my-page-img" onclick="movepage()" src="../images/무민.jfif">
    </div>
</body>
</html>