<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>Hello, world!</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bulma CSS 링크 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <script>
            // 간단한 회원가입 함수입니다.
            // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
            function register2() {
                $.ajax({
                    type: "POST",
                    url: "/api/register2",
                    data: {
                        emailauth: $('#emailauth').val()
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('인증이 완료되었습니다.')
                            window.location.href = '/'
                        } else {
                            alert(response['msg'])
                        }
                    }
                })
            }
            function resend() {
                $.ajax({
                    type: "POST",
                    url: "/api/resend",
                    // data: {
                    //     emailauth: $('#emailauth').val()
                    // },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('인증 메일 재전송')
                        } else {
                            window.location.href = '/'
                        }
                    }
                })
            }
        </script>
    </head>
    <body>
        <div class="section has-text-centered">
            <h1 class="title">이메일 인증시 회원가입 완료</h1>
            <div class="container" style="width:60%">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="emailauth">인증번호 </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="emailauth" placeholder="auth">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" onclick="register2()">인증하기</button>
                <button class="button is-primary" onclick="resend()">재전송</button>
            </div>
        </div>
    </body>
</html>