<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>moominstagram</title>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/search_page.css">

</head>
<body>
    <div class="header">
        <img class="back-img" src="../images/back@3x.png">
        <div class="search_container">
            <button class="real-search-btn"></button>
            <input type="text" id="search_input" placeholder="닉네임 검색">
        </div>
    </div>
    <div class="mobile-footer">
        <button class="home-btn"></button>
        <button class="search-btn"></button>
        <button class="plus-btn"></button>
        <button class="favorite-btn"></button>
        <button class="my-page-img-btn"></button>
    </div>

</body>
</html>