<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/sign_up.css">
    <title>moomingram</title>

</head>
<body>
    <div class="container">
        <div class="signup">
            <div class="signup_upper_part">
                <img class="logo" src="../images/moomingram.png">

                <div class="sign_in_text">sign up</div>

            </div>

            <div class="signup_id">
                <h4>E-MAil :</h4>
                <input type="id" placeholder="enter your email">
                <div class="email_confirm_button">
                    <button type="submit" value="submit"> 인증 </button>
                </div>
            </div>
            <div class="signup_pw">
                <h4>PW : </h4>
                <input type="password" placeholder="enter your password">
            </div>
            <div class="signup_pw_confirm">
                <h4>PW-confirm : </h4>
                <input type="password" placeholder="confirm your password">
                <div class = "confirm_check"><strong>X</strong></div>
            </div>
            <div class="signup_nickname">
                <h4>NICKNAME : </h4>
                <input type="nickname" placeholder="enter your nickname">
                <div class="nickname_confirm_button">
                    <button type="submit" value="submit"> 중복 확인 </button>
                </div>
            </div>

            <div class="signup_button">
                <button type="submit" value="submit"> Sign Up</button>
            </div>


            <div class="upload-box">
                <div id="drop-file" class="drag-file">
                    <img src="../images/upload.png" alt="파일 아이콘" class="image">
                    <p class="message">Drag files to upload</p>
                    <img src="" alt="미리보기 이미지" class="preview">
                </div>
                <label class="file-label" for="chooseFile">Choose File</label>
                <input class="file" id="chooseFile" type="file" onchange="dropFile.handleFiles(this.files)"
                       accept="image/png, image/jpeg, image/gif">
            </div>

        </div>
    </div>
<script src="../static/sign-up.js"></script>
</body>
</html>