<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/sign_up.css">
    <title>moomingram</title>
    <script defer src="../static/sign_up.js"></script>

</head>
<body>
    <div class="container">
        <div class="signup">
            <div class="signup_upper_part">
                <img class="logo" src="../static/images/moomingram.png">

                <div class="sign_up_text">sign up</div>

            </div>

            <div class="signup_id">
                <h4>E-MAil</h4>
                <div class="input_part">
                    <input type="email" placeholder="enter your email">
                    <div class="email_confirm_button">
                        <button>이메일 인증</button>
                    </div>
                </div>

            </div>
            <div class="signup_pw">
                <h4>PW</h4>
                <input type="password" id="password1" onchange="check_pw()" placeholder="enter your password">
            </div>
            <div class="signup_pw_confirm">
                <h4>PW-confirm</h4>
                <div class="input_pw_part">
                    <input type="password" id="password2" placeholder="confirm your password"
                           onchange="check_pw()"><span
                        id="check"></span>
                </div>
            </div>
            <div class="signup_nickname">
                <h4>NICKNAME</h4>
                <div class="input_part">
                    <input type="text" placeholder="enter your nickname">
                    <div class="nickname_confirm_button">
                        <button>중복 확인</button>
                    </div>
                </div>

            </div>
            <div class="upload-box">
                <div id="drop-file" class="drag-file">
                    <img src="../static/images/upload.png" alt="파일 아이콘" class="image">
                    <p class="message">Drag files to upload</p>
                    <img src="" alt="미리보기 이미지" class="preview">
                </div>
                <label class="file-label" for="chooseFile">Choose Profile-Image</label>
                <input class="file" id="chooseFile" type="file" onchange="dropFile.handleFiles(this.files)"
                       accept="image/png, image/jpeg, image/gif">
            </div>
            <div class="signup_button">
                <button type="submit" value="submit"> Sign Up</button>
            </div>


        </div>
    </div>
</body>
</html>