<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>moomingram</title>
    <link rel="stylesheet" href="../static/sign_in.css">


</head>
<body>
    <div class="container">
        <div class="login">
            <div class="login_upper_part">
                <img class="logo" src="../images/moomingram.png">
                <div class="user_info">
                    <img class="user_icon" src="../images/user.png">
                    <div class="sign_in_text">sign in</div>
                </div>

            </div>


            <div class="login_id">
                <h4>E-MAIL</h4>
                <input type="email" placeholder="e-mail">
            </div>
            <div class="login_pw">
                <h4>PW</h4>
                <input type="password" placeholder="Password">
            </div>
            <div class="btns">
                <div class="login_button">
                    <button type="submit" value="submit"> Log In</button>
                </div>
                <div class="signup_button">
                    <button type="submit" value="submit"> Sign Up</button>
                </div>
            </div>

        </div>
    </div>

</body>
</html>