<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/upload_img_and_writing_page_style.css">
    <title>moomingram</title>
</head>
<body>
    <div class='header'>
        <button class=back-btn><img class="back" src="../images/back@3x.png"></button>
        <p id=nickname><b>POSTing</b></p>
        <button class=upload-btn><img class='upload' src="../images/plus.png"></button>
    </div>
    <div class='screen'>
        <div class="img-container">
            <input class="upload-img-file" type="file">
        </div>
        <div class="writing-container">
                <input class="writing-box" placeholder="글을 입력하세요" />
        </div>
    </div>
    <div class="mobile-footer">
        <button class="home-btn"></button>
        <button class="search-btn"></button>
        <button class="plus-btn"></button>
        <button class="favorite-btn"></button>
        <button class="my-page-img-btn"></button>
    </div>
</body>
</html>