<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>moomingram</title>
    <link rel="stylesheet" href="../static/write_feed.css">
</head>
<body>
    <div class='header'>
        <button class=btn><img class="back-img" src="../images/back@3x.png"></button>
        <p id="header_title"><b>새 게시물</b></p>
<!--        <button class=settingbtn><img class='setting' src="../images/image_upload.png"></button>-->
        <label class="file-label" for="chooseFile"><img class='choose-image' src="../images/image_upload.png"></label>

        <div class="container">
            <div class="upload-box">
                <div id="drop-file" class="drag-file">
<!--                    <img src="../images/upload.png" alt="파일 아이콘" class="image">-->
                    <p class="message">Drag files to upload</p>
                    <img src="" alt="미리보기 이미지" class="preview">
                </div>

                <input class="file" id="chooseFile" type="file" onchange="dropFile.handleFiles(this.files)"
                       accept="image/png, image/jpeg, image/gif">

            </div>
            <div class="write_content">
                CONTENT<br>
                <textarea name="content" id="feed_content" placeholder="게시글 작성" required></textarea><br>
                TAG<br>
                <input type="text" name="hashtag" id="hashtag" placeholder="해시태그 추가">
                <div class="upload_button"><button type="submit" value="submit">게시하기</button></div>
            </div>
        </div>

    </div>
</body>
</html>