<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/upload_img_and_writing_page_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../static/upload_img_and_writing_page.js"></script>
    <title>moomingram</title>

</head>
<body>
    <div class="header">
        <img class="back-img" onclick="go_back()" src="../../src/static/images/back@3x.png">
        <p id="posting_text"><b>POSTing</b></p>
        <img class='upload_image' onclick="posting()" src="../../src/static/images/plus.png">
    </div>
    <div class="screen">
        <div class="img-container">
            <div id="drop-file" class="drag-file">
                <label class="file-label" for="chooseFile">
                    <img src="../../src/static/images/upload.png" alt="파일 아이콘" class="image"></label>
                <input class="file" id="chooseFile" type="file" onchange="dropFile.handleFiles(this.files)"
                       accept="image/png, image/jpeg, image/gif">

                <img src="" alt="미리보기 이미지" id="feed_image_file" class="preview">
            </div>

        </div>
        <div class="writing-container">
            <div class="content_text">CONTENT</div>
            <textarea name="content" id="feed_content" placeholder="게시글을 작성해주세요." required></textarea>
        </div>
    </div>
    <div class="mobile-footer">
        <img class="icon2" onclick="to_main()" src="../../src/static/images/home@3x.png">
        <img class="icon2" onclick="to_search()" src="../../src/static/images/search@3x.png">
        <img class="icon3" onclick="to_upload()" src="../../src/static/images/plus.png">
        <img class="icon2" onclick="to_favorite()" src="../../src/static/images/like@3x.png">
        <img class="my-page-img" onclick="to_mypage()" src="../../src/static/images/무민.jfif">
    </div>
</body>
</html>