<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../favorite_page/static/favorite_page_style.css">
    <title>moomingram</title>
</head>
<body>
    <div class='header'>
        <img class="back-img" src="../../src/images/back@3x.png">
        <p id=nickname><b>'아이디' 검색 결과</b></p>
    </div>
    <div class='screen'>
        <div class="favorite-feed">
            <div class="user-name-and-img">
                <div class="feed-user-img">
                    <button class="user-page-img-btn"></button>
                </div>
                <p class="feed-user-name">nickname</p>
            </div>
            <img src="https://t1.daumcdn.net/cfile/tistory/9919334E5B28A1E331">
        </div>
    </div>
    <div class="mobile-footer">
        <button class="home-btn"></button>
        <button class="search-btn"></button>
        <button class="plus-btn"></button>
        <button class="favorite-btn"></button>
        <button class="my-page-img-btn"></button>
    </div>
</body>
</html>