<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>moominstagram</title>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/search_page_style.css">
    <script src="../static/search_page.js"></script>

</head>
<body>
    <div class="header">
        <img class="back-img" onclick="go_back()" src="../../src/static/images/back@3x.png">
        <div class="search_container">
            <img class="icon2" onclick="search()" src="../../src/static/images/search@3x.png">
            <input type="text" id="search_input" placeholder="닉네임 검색">
        </div>
    </div>
    <div class="mobile-footer">
        <img class="icon2" onclick="to_main()" src="../../src/static/images/home@3x.png">
        <img class="icon2" onclick="to_search()" src="../../src/static/images/search@3x.png">
        <img class="icon3" onclick="to_upload()" src="../../src/static/images/plus.png">
        <img class="icon2" onclick="to_favorite()" src="../../src/static/images/like@3x.png">
        <img class="my-page-img" onclick="to_my_pg()" src="../../src/static/images/무민.jfif">
    </div>

</body>
</html>